black
build
cibuildwheel
mypy
virtualenv

# keep synchronous to pyproject.toml
setuptools
setuptools-rust
wheel

# keep synchronous to requirements-readthedocs.txt
furo == 2023.5.20
myst-parser == 1.*
sphinx == 6.*
sphinx_autodoc_typehints == 1.*
