section > dl {
    padding: 1ch;
    border-width: 1ch;
    border-style: solid;
    border-color: transparent;
}

section > dl:nth-of-type(even) {
    border-color: #33ff6615 #33ff6615 transparent transparent;
}

section > dl:nth-of-type(odd) {
    border-color: #6633ff15 transparent transparent #6633ff15;
}
